body {
  background-image: url("images/login.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  width: 500px;
  margin: 0 auto;
  margin-top: 5%;
  opacity: 1;

}

/* Bordered form */
form {
  width: 100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
}

#container h1 {
  text-align: center;
  width: 100%;
  margin: 25 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 3px solid #ffde4e;
  /*rgba(28, 110, 164, 0.4);*/
  border-radius: 15px;

}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}

/* Set a style for all buttons */
input[type="submit"] {
  background-color: #ffde4e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}

input[type="submit"]:hover {
  background-color: white;
  color: #ffde4e;
  border: 3px solid #ffde4e;
}

::placeholder {
  color: black;
}

h1 {
  font-family: "Open Sans", Monaco, monospace;
  font-size: 1.5 em;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #00000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}